@import 'mixins.scss';

$yellow: #ffe600;
$dark: #333333;
$gray: #999999;
$light-gray: #eeeeee;
$light-gray-hover: #dadada;
$placeholderColor: $gray;

body {
  margin: 0;
  padding: 0;
  background: $light-gray;
}

.clearfix {
  clear: both;
  width: 100%;
  height: 1px;
}

::-webkit-input-placeholder {
  color: $placeholderColor;
}
::-moz-placeholder {
  color: $placeholderColor;
}
:-ms-input-placeholder {
  color: $placeholderColor;
}
:-moz-placeholder {
  color: $placeholderColor;
}

//HEADER Component
.header-component {
  background: $yellow;
  padding: 7px 0;
}
.header-container {
  max-width: 860px;
  margin: 0 auto;
}
.logo {
  width: 10%;
  float: left;
  img {
    max-height: 34px;
  }
}

//SEARCH
.search-box-component {
  width: 90%;
  float: left;
  form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
  }
  input {
    width: 100%;
    height: 34px;
    padding: 0 13px;
    border: none;
    font-size: 18px;
    @include border-radius(5px 0px 0px 5px);
  }
  button {
    width: 34px;
    height: 34px;
    padding: 0;
    border: none;
    background-color: $light-gray;
    background-image: url(./images/ic_Search@2x.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    @include border-radius(0px 5px 5px 0px);
    &:hover {
      background-color: $light-gray-hover;
    }
  }
}

.loading {
  @extend %notification;
}
.error {
  @extend %notification;
  color: #fa8888;
}
