@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/**
	COMMON
**/
body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: bold; }

strong,
b {
  font-weight: bold; }

.loading, .error {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #999999; }

.clearfix {
  clear: both;
  width: 100%;
  height: 1px; }

::-webkit-input-placeholder {
  color: #999999; }

::-moz-placeholder {
  color: #999999; }

:-ms-input-placeholder {
  color: #999999; }

:-moz-placeholder {
  color: #999999; }

button {
  border: none;
  background: #3486fa;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  button:hover {
    background-color: #055edc; }

a {
  color: #3486fa;
  text-decoration: none; }
  a:hover {
    color: #7fb3fc; }

.error {
  color: #fa8888; }

.landing {
  padding: 80px 0;
  line-height: 40px;
  font-size: 12px;
  color: #333333; }

.header-component {
  background: #ffe600;
  padding: 7px 0; }

.header-container, .landing, .page-container, .product-detail {
  max-width: 860px;
  margin: 0 auto; }

.logo {
  width: 10%;
  float: left; }
  .logo img {
    max-height: 34px; }

/**
  SEARCH
**/
.search-box-component {
  width: 90%;
  float: left; }
  .search-box-component form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1; }
  .search-box-component input {
    width: 100%;
    height: 34px;
    padding: 0 13px;
    border: none;
    font-size: 18px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px; }
  .search-box-component button {
    width: 34px;
    height: 34px;
    padding: 0;
    border: none;
    background-color: #eeeeee;
    background-image: url(./images/ic_Search@2x.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px; }
    .search-box-component button:hover {
      background-color: #dadada; }

/***
  RESULT PAGE
***/
.breadcrum-component {
  padding: 16px 0;
  color: #999999; }
  .breadcrum-component .breadcrum-category {
    font-size: 13px;
    padding-right: 10px; }
    .breadcrum-component .breadcrum-category .breadcrum-category-separator {
      padding-left: 4px; }
    .breadcrum-component .breadcrum-category.last {
      font-weight: bold; }

.product-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #333333; }
  .product-title a {
    color: #333333;
    text-decoration: none; }
    .product-title a:hover {
      color: #595959; }

.product-price {
  line-height: 30px;
  font-size: 22px; }

.product-thumb {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.product-list-item-component {
  background: #fff;
  position: relative;
  padding: 0 16px; }
  .product-list-item-component .product-list-item-content {
    min-height: 180px;
    border-bottom: solid 1px #eeeeee;
    padding: 16px 0; }
  .product-list-item-component .product-thumb {
    position: absolute;
    top: 0;
    left: 0; }
    .product-list-item-component .product-thumb img {
      height: 180px;
      width: 180px; }
  .product-list-item-component .product-list-item-left {
    position: absolute;
    top: 16px;
    left: 16px; }
  .product-list-item-component .product-list-item-right {
    margin-left: 180px;
    padding-left: 16px; }
    .product-list-item-component .product-list-item-right header {
      float: left;
      width: 75%; }
      .product-list-item-component .product-list-item-right header .product-title {
        padding-right: 16px; }
    .product-list-item-component .product-list-item-right address {
      float: left;
      width: 25%;
      font-size: 12px;
      color: #999999;
      line-height: 30px; }

.icon-freeshipping-active {
  display: inline-block;
  width: 20px;
  height: 30px;
  background: url(./images/ic_shipping@2x.png) no-repeat;
  background-position: center;
  background-size: 18px; }

.product-detail .product-detail-content {
  background: #fff;
  padding: 32px; }

.product-detail .product-detail-left,
.product-detail .product-detail-right {
  float: left; }

.product-detail .product-detail-left {
  width: 80%; }

.product-detail .product-detail-right {
  width: 20%; }

.product-detail-right .product-status {
  font-size: 14px;
  padding-bottom: 16px; }

.product-detail-right .product-title {
  font-size: 24px;
  margin: 0;
  padding-bottom: 32px; }

.product-detail-right .product-price {
  padding-bottom: 32px;
  line-height: 46px;
  font-size: 46px; }

.product-detail-left .product-thumb {
  max-width: 680px;
  padding-right: 16px; }

.product-detail-left img {
  width: 100%; }

.product-detail-description {
  padding-top: 70px; }
  .product-detail-description h5 {
    font-size: 28px; }
  .product-detail-description article {
    padding: 32px 0;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
    word-break: break-word; }

.footerComponent {
  padding: 70px 16px 16px 16px;
  text-align: center;
  font-size: 12px;
  color: #999999; }
  .footerComponent a {
    color: #999999;
    text-decoration: none; }
    .footerComponent a:hover {
      color: #055edc; }
