@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

%notification {
  padding: 10px;
  font-size: 25px;
  text-align: center;
}
